<%= form_for @picture do |f| %>
	<p>
		<%= f.text_field "artist", 
			:placeholder => "Artist",
			:title => "Artist" %>
	</p>
	<p>
		<div class="error"><%= @picture.errors[:title].join(", ").capitalize %></div>
		<%= f.text_field "title", 
			:placeholder => "Title",
			:title => "Title" %>
	</p>
	<p>
		<div class="error"><%= @picture.errors[:url].join(", ").capitalize %></div>
		<%= f.text_field "url",
			:placeholder => "URL",
			:title => "URL" %>
	</p>
	<p>
		<div class="error"><%= @picture.errors[:thumbnail_url].join(", ").capitalize %></div>
		<%= f.text_field "thumbnail_url",
			:placeholder => "Thumbnail URL",
		 	:title => "Thumbnail URL"
		%>
	</p>
	<p>
		<%= f.check_box "copyrighted" %>
		<%= f.label "copyrighted", "Copyrighted?" %>
	</p>
	<p>
		<%= f.submit "Add" %>	
	</p>
<% end %>