<nav id="left">
	<%= link_to '+', new_picture_path, 
		:title => "Add picture",
		:class => "new" %>
</nav>
<h2>Some interesting pictures.</h2>
<div class="index">
	<% @pictures.each do |pic| %>
		<%= link_to(pic) do %>
			<article>
				<img src="<%= pic.thumbnail_url %>">
				<caption>
					<strong><%= pic.title %></strong> 
					by 
					<em><%= pic.artist %></em>
				</caption>
				<% if pic.copyrighted %>
					<span class="copy">&copy;</span>
				<% end %>
			</article>
		<% end %>
	<% end %>
</div>