<h3><%= @picture.title %> <em>(by <%= @picture.artist %>)</em></h3>
<nav id="left">
	<%= link_to "â†", pictures_path, :title => "Back" %>
	<%= link_to "âœ", edit_picture_path(@picture.id), :title => "Edit this picture" %>
</nav>
<div class="show">
	<img src="<%= @picture[:url] %>" id="fullscreen">
</div>