<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Photogur', root_path %></h1>
<nav id="right">
	<%= link_to '+', new_picture_path, :title => "Add picture" %>
</nav>

<%= yield %>

</body>
</html>
